.footer {
    background-color: var(--second-color);
    color: #ffffff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
  
    &-title {
      font-size: 2rem;
      margin-bottom: var(--mb4);
    }
  
    &-social {
      margin-bottom: var(--mb4);
    }
  
    &-icon {
      font-size: 1.5rem;
      color: #ffffff;
      margin: 0 var(--mb2);
    }
  }
  