.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  align-items: center; 
  height: calc(100vh - 3rem);
  row-gap: 1rem;

  &-data {
    align-self: center;
  }

  &-title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb5);
  }

  &-title-color {
    color: var(--first-color);
  }

  &-social {
    display: flex;
    margin-right: 1rem;

    &-icon {
      width: max-content;
      margin-bottom: var(--mb2);
      font-size: 1.5rem;
      color: var(--second-color);
      transition: .3s;

      &:hover {
        color: var(--first-color);
      }
    }
  }

  &-img {
    justify-content: right;
    margin-left: 7rem;
    width: 50%;

    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }
}
