@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --header-height: 3rem;
    --font-semi: 600;

    --first-color: rgb(107, 142, 35);   
    --second-color: rgb(51, 51, 51);   
    

    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;

    --mb1: .5rem;
    --mb2: 1rem;
    --mb4: 2rem;

    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}

h1, h2, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.section-title {
    font-size: var(--h2-font-size);
    color: var(--first-color);
    text-align: center;
    margin-top: var(--mb2);
    margin-bottom: var(--mb4);
    position: relative;
}

.section-title::after {
    content: '';
    position: absolute;
    width: 64px;
    height: 0.18rem;
    top: 2rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--first-color);
}

.section {
    padding: 3rem 1rem 2rem;
}

.bd-grid {
    display: grid;
    max-width: 1024px;
    grid-template-columns: 100%;
    margin: 0 auto;
    gap: 2rem;
}

/* Header */
.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
    padding: 0 1rem;
}

.nav-logo {
    color: var(--second-color);
}

.nav-toggle {
    display: none;
    font-size: 1.5rem;
    color: var(--second-color);
    cursor: pointer;
}

/* Button */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 0.75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    transition: box-shadow 0.3s ease;
}

.button:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

@media screen and (min-width: 769px) {
    body {
        margin: 0;
    }

    .section {
        padding: 4rem 1rem 3rem;
    }

    .section-title::after {
        width: 80px;
        top: 3rem;
    }

    .nav {
        height: calc(var(--header-height) + 1rem);
    }

    .nav-toggle {
        display: none;
    }
}
