.skills-container { row-gap: 2rem; text-align: center; }
.skills-subtitle { margin-bottom: var(--mb2); }
.skills-text { margin-bottom: var(--mb4); }
.skills-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: 0.5rem 1rem;
    margin-bottom: var(--mb4);
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}

.skills-icon {
    font-size: 2rem;
    margin-right: var(--mb2);
    color: var(--first-color);
}

.skills-names {
    display: flex;
    align-items: center;
}

.skills-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: 0.25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
}

.skills-html { width: 95%; }
.skills-css { width: 85%; }
.skills-js { width: 85%; }
.skills-ux { width: 80%; }
.skills-img { border-radius: .5rem; }
